.dashboard-mobile {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-background, #f4f8fe);
}

.dashboard-mobile__header-tabs {
  height: 20vh;
  min-height: 120px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: inherit;
  z-index: 2;
}

.dashboard-mobile__body {

  height: 80vh;
  min-height: 200px;
  overflow-y: auto;
  background: white;
  border-radius: 18px 18px 0 0;
  box-shadow: 0 -2px 8px rgba(15,23,42,0.06);
  margin-top: 0;
  z-index: 1;
}

@media (max-width: 1199.95px) {
 
  .dashboard-mobile__body {
    height: auto;
    border-radius: 0px;
    background: var(--color-background);
    box-shadow: none;
  }
}
